/*>>>>>>>>>>=============================== Peel'd © 2014 =================================<<<<<<<<<<*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*
Version: Beta v1.2;
Author: Bryan Littlefield;
License: GPL;
----------------------------
|===TABLE OF CONTENTS===|
I.................GLOBALS
II...........PAGE LAYOUTS
III...............HELPERS
IV...........PRINT STYLES
*/


/* [ I ] ----------------------->>>>>>> GLOBALS <<<<<<<-----------------------------
==================================================================================== */


/*      .---------------.
_______/   HTML & BODY   \____________________________________*/

html 		{ background: #ffffff; overflow-x: hidden; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: #f3f5f6; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body 		{ color:#1B1B1B; overflow-x: hidden; margin:0; padding: 0;height: 100%;   }
header  { height:58px; }
footer 	{ bottom: 0;width: 100%;margin-top: 35px }


/*Placeholder Styling*/
::-webkit-input-placeholder { color:#4d4d4d; }
:-moz-placeholder           { color:#4d4d4d; }
::-moz-placeholder          { color:#4d4d4d; }
:-ms-input-placeholder      { color:#4d4d4d; }

/*Selections*/
::-moz-selection { background: #b3d4fc;text-shadow: none; }
::selection      { background: #b3d4fc;text-shadow: none; }


/*Icons*/
@font-face {
  font-family: 'Icons';
  src: url("../../fonts/icons.eot");
  src: url("../../fonts/icons.eot?#iefix") format('embedded-opentype'), url("../../fonts/icons.woff") format('woff'),url("../../fonts/icons.svg#icons") format('svg'), url("../../fonts/icons.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}


/*Header*/
header .ui.menu { border-radius: 0; }
header .ui.menu .item {line-height: 35px;}
header .ui.menu .item i.dropdown { line-height: 35px; }

/*Page Content*/
#page-content   { min-height: 100%; }


/*Repeater Fields*/
.repeater-field   {  }
.repeater-field .actions  { float: left;margin-bottom: 14px; }
.repeater-field .field:last-of-type .actions  { margin-top: 14px; }
.repeater-field .fields:last-of-type .actions  { margin-top: 14px; }

/*Tabs*/
.ui.bottom.attached.tab.segment > h3 { margin-top: 6px; }

/*Form Fields*/
.ui.search.dropdown { min-width: inherit !important;}
.field.actions .ui.button { margin: 24px 0 0 0; }
.field.actions .ui.button + .ui.button { margin-left: 15px;  }

/*DataTables*/
.table-search {  position: absolute;top: -38px;right: 0; }
.ui.form .table-search input{ height: auto;width: auto;padding: 4px;margin-left: .5em; }
.ui.form .table-search label{ line-height: 25px; }
.dataTables_wrapper .dataTables_paginate .paginate_button { padding: 2px 5px; }
.date_range_filter,.text_filter { font-weight: normal;font-size: 13px;border: 1px solid #dcdcdc; }
.date_range_filter { width: 5.5em; }
.text_filter { width: 100%; }
.dataTables_wrapper thead tr:first-of-type{   border: none;background: #F7F7F7 }

/*Print Button*/
.print-button { position: fixed !important;top: 0;right: 43%;z-index: 100; }
#page-content .print-button { position: relative !important;z-index: 100;margin: 0 auto 17px auto !important;display: block !important;width: 180px;right: auto;top: auto; }





/* [ II ] --------------------->>>>>>> PAGE LAYOUTS <<<<<<<---------------------------
==================================================================================== */

/*
.========================================================.
|                   |  Login  |                          |
.========================================================.
*/
#login		{ margin: 0 30%; }


/*
.========================================================.
|             |  Forgot Password  |                      |
.========================================================.
*/
#forgot-password  { margin: 0 30%; }


/*
.========================================================.
|             |  Reset Password  |                      |
.========================================================.
*/
#reset-password  { margin: 0 30%; }


/*
.========================================================.
|                 |  Register  |                        |
.========================================================.
*/
#register 			{ margin: 0 10%; }


/*
.========================================================.
|              |  Invite User  |                        |
.========================================================.
*/
.invite_user { border-bottom: 1px solid #dcdcdc;margin-bottom: 10px;}

/*
.========================================================.
|                 |  Installer  |                        |
.========================================================.
*/

#installer { margin: 100px auto; width: 50%; text-align: center; }
#installer .selection { text-align: left; }


/*
.========================================================.
|                 |  Dashboard  |                        |
.========================================================.
*/

.follow-ups-table .content { box-sizing:border-box }


/*
.========================================================.
|                 |  Company Settings  |                 |
.========================================================.
*/

#company_settings .ui.list .item .content { display: inline-block; }
#company_settings {  }
.company_custom_fields .ui.accordion .title .large.dropdown.icon { font-size: 1.5em; }
.company_custom_fields .ui.grid>.column:not(.row) { padding-top: 8px; }
.company_custom_fields .ui.accordion .title:not(.ui) { padding: .5em 0 0 0; }
.bid_fields_repeater .ui.grid+.grid { margin-top: 0; }
.bid_fields_repeater .ui.grid.bid_fields_row>.column:not(.row) { padding-top: 10px;padding-bottom: 0;}
.contract-language-text {   border: 1px solid #dcdcdc;padding: 20px; }
.bid_fields .ui.mini.input { font-size:12px; }


/*
.========================================================.
|             |   Drop Zone JS Styling   |               |
.========================================================.
*/

.upload-zone.avatar { border-radius: 500rem;width: 125px;height: 125px;z-index: 50;background: transparent;padding: 0;background-size: cover;border:0;min-height:0px; }
/*.upload-zone.avatar:hover {  }*/
.avatar .dz-preview { padding: 0;margin: 0;border-radius: 500rem;min-height: 0px;  }
.dropzone.avatar .dz-preview .dz-image { border-radius: 500rem;width: 125px;height: 125px;z-index: 50;background: transparent;padding: 0;background-size: cover }
.dropzone.avatar .dz-preview .dz-image img { width: 100%; }
.dropzone.avatar .dz-preview .dz-remove { position: absolute;top: 98px;z-index: 100;background: rgba(219, 40, 40, 0.82);width: 100%;text-transform: uppercase;color: #fff;padding: 5px 0;border-radius: 30px;}
.dropzone .dz-preview.dz-error .dz-error-message { /*display: none;*/ }
.dropzone .dz-message { display: block;position: absolute;color: #fff;background: rgba(0, 0, 0, 0.44);padding: 10px 20px;border-radius: 20px;left: 17%;top: 40px;border: 2px solid #fff; }
.avatar-upload-wrapper {  padding: 20px;border: 3px dashed #B9B9B9;width: 170px;position: relative; }


/*
.========================================================.
|                 |  Company Contacts  |                 |
.========================================================.
*/
#contacts {   }
/*#contacts tbody td:first-of-type { text-align: center; }*/
#archived_contacts {  }
#archived_contacts i.view-contact { display: none; }
.ui.modals .view-contact #contact h1 .button {display:none}

/*
.========================================================.
|                    |  Job Bids |                   |
.========================================================.
*/
.ui.table#job_bid tfoot th { padding: 0 .8em; }
/*#contacts tbody td:first-of-type { text-align: center; }*/
.set-account .ui.buttons .or:before { line-height: 1.58571em;}

.bid-fields .item-amount input {text-align: right; }
.bid-fields .item-rate input { text-align: right;}

.bid-type .ui.close, .delete-job .ui.close { top: 0.9rem; right: 0.9rem; color: rgba(0,0,0,.8);}
.Job_Bids_Items .header_checkbox {margin-left: 4px;}


/*
.========================================================.
|                     |  Reports |                       |
.========================================================.
*/

/*Invoices*/
#invoice { width:1024px;margin:0 auto; }
#invoice p { margin-bottom:5px; }
#invoice .ui[class*="very basic"].table:not(.sortable):not(.striped) td,
#invoice .ui[class*="very basic"].table:not(.sortable):not(.striped) th { padding: 2px 3px; }
#invoice .ui.table tr td { border: none; }
.invoice-totals h4 { margin: 0; }
.invoice-logo { max-height: 150px; }

.work-order-signatures { page-break-before:always }

#production-history .ui[class*="very basic"].table:not(.sortable):not(.striped) td, #production-history .ui[class*="very basic"].table:not(.sortable):not(.striped) th { padding: 3px;}

/*
.========================================================.
|            |  Activities & Notes |                     |
.========================================================.
*/

.ui.job-notes .create-job-note .fields textarea {
  min-height: initial;
  height: 38px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
.========================================================.
|            |  Responsive Breaks  |                     |
.========================================================.
*/

/* iPads (portrait and down)*/
@media only screen and (max-width : 768px) {
	#login		{ margin: 0; }
	#forgot-password  { margin: 0; }
	#reset-password  { margin: 0; }
  .field.actions .ui.button { margin: 0 0 24px 0; }
}


/*
.========================================================.
|             | Semantic UI Bug Fixes  |               |
.========================================================.
*/
.ui.ordered.steps .step:before { vertical-align: middle; }

.ui.selection.dropdown.disabled { opacity: 1 !important; }


/*Widen Page Grids*/
@media only screen and (min-width: 1400px) {
  .ui.page.grid {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (min-width: 1920px) {
  .ui.page.grid {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (min-width: 992px) {
  .ui.page.grid {
    padding-left: 5%;
    padding-right: 5%;
  }
  td.bid-item .ui.selection.dropdown .menu {width: 200%}
}



/* [ III ] --------------------->>>>>>> HELPERS <<<<<<<---------------------------
==================================================================================== */
.cf:before,.cf:after { content: " ";display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1;}
.hidden { display: none !important;visibility: hidden !important; }


/* [ VI ] --------------------->>>>>>> PRINT STYLES <<<<<<<---------------------------
==================================================================================== */
@media print {

    #page-content .print-button { display: none !important; }
    .print-button { display: none !important; }
   header { display: none !important; }
   .ui.page.grid { padding:0!important; }
   html { font-size: 95%; }
   html body.report {font-size: 75%}
    html body.report table {font-size: 50%}
   footer { display: none !important; }
    body {overflow:visible}
    body.report .ui.table {font-size: .5em}
    body.report .ui.table h3 {font-size: .75rem}
    body.report h1.ui.block.header {font-size: 1.0rem}
}

.ui.footer.vertical.segment {
    background: #fff;
    border-top: 6px solid #6D6E71;
}

.ui.fixed.menu, .ui.top.fixed.menu {
  box-shadow: none;
  border-bottom: 3px solid #6D6E71;
}

.ui.menu .ui.blue.button, .ui.blue.buttons .button {
      background-color: #4C6B81;
}
p.copyright {
    font-size: 0.85em;
}
.ui.menu img.logo {
    display: inline-block;
    vertical-align: middle;
    margin: -.3em 0;
    width: 8.5em;
}
.header-5{
    font-size:13px !important;
}
h3.header-5{
    font-size:12px !important;
}
/*==== account Report  page ====*/
table.BoxedTable {
    border: 1px solid #111 !important;
    border-radius: 0 !important;
}
table.BoxedTable > tbody > tr td:first-child, .ui.table.BoxedTable thead tr>th:first-child{
    padding-left: 8px !important;
}
table.BoxedTable{
    padding-top: 8px !important;
}
.ui.table.BoxedTable tr td {
    border-top: 1px solid #111113;
    border-right: 1px solid #111113;
}
.ui.table.BoxedTable thead th {
    border-bottom: 1px solid #1E1E21;
}
.ui.basic.table.BoxedTable th {
    border-right: 1px solid #1E1E21;
}